 <!--Clients-->
 <section id="clients" class="scrollto clearfix">
    <div class="row clearfix">

        <div class="col-3">

            <div class="section-heading">
                <h3>TRUST</h3>
                <h2 class="section-title">Our Company Partners</h2>
                <p class="section-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam!</p>
            </div>

        </div>

        <div class="col-2-3">

            <a href="#" class="col-3">
                <img src="../assets/images/company-images/1.jpg" alt="Company"/>
                <div class="client-overlay"><span>Jojunie Tour</span></div>
            </a>
            <a href="#" class="col-3">
                <img src="../assets/images/company-images/2.jpg" alt="Company"/>
                <div class="client-overlay"><span>Travel & Tour</span></div>
            </a>
            <a href="#" class="col-3">
                <img src="../assets/images/company-images/3.jpg" alt="Company"/>
                <div class="client-overlay"><span>Royal Explore</span></div>
            </a>
            <a href="#" class="col-3">
                <img src="../assets/images/company-images/4.jpg" alt="Company"/>
                <div class="client-overlay"><span>World Tour</span></div>
            </a>
            <a href="#" class="col-3">
                <img src="../assets/images/company-images/5.jpg" alt="Company"/>
                <div class="client-overlay"><span>Make My Trip</span></div>
            </a>
            <a href="#" class="col-3">
                <img src="../assets/images/company-images/6.jpg" alt="Company"/>
                <div class="client-overlay"><span>Shark Tours</span></div>
            </a>
            <a href="#" class="col-3">
                <img src="../assets/images/company-images/7.jpg" alt="Company"/>
                <div class="client-overlay"><span>DB Tour</span></div>
            </a>
            <a href="#" class="col-3">
                <img src="../assets/images/company-images/8.jpg" alt="Company"/>
                <div class="client-overlay"><span>Sail World Tour</span></div>
            </a>

            <a href="#" class="col-3">
                <img src="../assets/images/company-images/9.jpg" alt="Company"/>
                <div class="client-overlay"><span>Little Explorers</span></div>
            </a>

        </div>

    </div>
</section>
<!--End of Clients-->
