 <!--Introduction-->
 <section id="about" class="introduction scrollto">

    <div class="row clearfix">

        <div class="col-3">
            <div class="section-heading">
                <h3>Every Thing You Want To Know !</h3>
                <h2 class="section-title">About EXPLORE_X</h2>
                <p class="section-subtitle">"Welcome to EXPLORE_X, where every journey is an adventure waiting to unfold. 
                    As passionate travelers ourselves, we understand the thrill of exploration and the desire to discover 
                    new horizons. At EXPLORE_X, we specialize in curating unforgettable travel experiences that cater to your 
                    unique interests and preferences. Whether you're dreaming of traversing ancient ruins, immersing yourself
                    in vibrant cultures, or simply escaping to idyllic landscapes, we're here to make your travel aspirations
                    a reality. With a commitment to excellence, safety, and personalized service, EXPLORE_X invites you to embark
                    on a journey of discovery unlike any other."</p>
            </div>

        </div>

        <div class="col-2-3">

            <!--Icon Block-->
            <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.1s">
                <!--Icon-->
                <div class="icon">
                    <img src="../assets/images/safety.png" alt="safety" height="20px" width="20px">
                </div>
                <!--Icon Block Description-->
                <div class="icon-block-description">
                    <h4>Safety</h4>
                    <p>Our expert guides are trained to handle various situations and emergencies, providing you with
                    peace of mind as you explore the world.
                </p>
                </div>
            </div>
            <!--End of Icon Block-->

            <!--Icon Block-->
            <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.3s">
                <!--Icon-->
                <div class="icon">
                    <img src="../assets/images/expenses.png" alt="expenses" height="20px" width="20px">
                </div>
                <!--Icon Block Description-->
                <div class="icon-block-description">
                    <h4>Expenses</h4>
                    <p>We believe that exceptional travel experiences shouldn't 
                    come with a hefty price tag.we offer a range of options to suit every budget and preference.</p>
                </div>
            </div>
            <!--End of Icon Block-->

            <!--Icon Block-->
            <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
                <!--Icon-->
                <div class="icon">
                    <img src="../assets/images/help.png" alt="help" height="25px" width="25px">
                </div>
                <!--Icon Block Description-->
                <div class="icon-block-description">
                    <h4> 24 x 7 Support</h4>
                    <p>Your journey with EXPLORE_X doesn't 
                        end when the sun sets. Our dedicated team is available round-the-clock to 
                        provide assistance and support whenever you need it. 
                    </p>
                </div>
            </div>
            <!--End of Icon Block-->

            <!--Icon Block-->
            <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
                <!--Icon-->
                <div class="icon">
                    <img src="../assets/images/rules.png" alt="rules" height="25px" width="25px">
                </div>
                <!--Icon Block Description-->
                <div class="icon-block-description">
                    <h4>Safety Rules</h4>
                    <p>
                        To ensure the safety of all our travelers, we have established a set of 
                        safety rules and guidelines that are strictly adhered to throughout our tours. 
                    </p>
                </div>
            </div>
            <!--End of Icon Block-->

        </div>

    </div>


</section>
<!--End of Introduction-->