<header id="banner" class="scrollto clearfix" data-enllax-ratio=".5">
  
    <!--Banner Content-->
    <div id="banner-content" class="row clearfix">
  
        <div class="col-38">
  
            <div class="section-heading">
                <h1>"In Every Journey, Find Yourself a Little More."</h1>
                <h2>Explore the world with confidence: Our expert-guided 
                    global itineraries ensure a seamless travel experience, from iconic landmarks to hidden gems.</h2>
            </div>
  
            <!--Call to Action-->
            <a href="/pricing" class="button">START BOOKING NOW</a>
            <!--End Call to Action-->
  
        </div>
  
    </div><!--End of Row-->
  </header>
  