  <!--Content Section-->
  <div id="services" class="scrollto clearfix">

    <div class="row no-padding-bottom clearfix">


        <!--Content Left Side-->
        <div class="col-3">
            <!--User Testimonial-->
            <blockquote class="testimonial text-right bigtest">
                <q>At Explore_X, we strive to provide you with the most 
                    unforgettable world tour experience. Our range of services 
                    is designed to cater to every aspect of your journey, 
                    ensuring comfort, convenience, and adventure at every step. 
     </q>
                <footer>— Discover the array of services we offer:</footer>
            </blockquote>
            <!-- End of Testimonial-->

        </div>
        <!--End Content Left Side-->

        <!--Content of the Right Side-->
        <div class="col-3">
            <div class="section-heading">
                <h2 class="section-title">Focusing On What Matters Most</h2>
                <p class="section-subtitle">
                    Customized Itineraries,Accommodation Arrangements,Transportation Solutions,
                    Expert Guides and Local Insights,Safety and Security Measures,
                    Optional Excursions and Activities,Flexible Booking Options.
                </p>
            </div>
            <p>We understand that every traveler is unique, which is why we specialize in 
                creating tailor-made itineraries that suit your preferences, interests, and budget.
                Rest easy knowing that your accommodation needs are taken care of.
            </p>
            <p>
                Sit back and relax as we handle all your transportation needs.
                Our experienced guides are passionate about sharing their knowledge and love for the 
                destinations you visit.
                Your safety is paramount to us. We adhere to strict safety and security protocols to 
                ensure that you can explore the world with confidence and peace of mind.
                We understand that travel plans may change, which is why we offer flexible booking options 
                to accommodate your needs. Enjoy the freedom to modify your itinerary or reschedule your tour with ease.
            </p>
            <!-- Just replace the Video ID "UYJ5IjBRlW8" with the ID of your video on YouTube (Found within the URL) -->
            <a href="#" data-videoid="UYJ5IjBRlW8" data-videosite="youtube" class="button video link-lightbox">
                WATCH VIDEO <i class="fa fa-play" aria-hidden="true"></i>
            </a>
        </div>
        <!--End Content Right Side-->

        <div class="col-3">
            <img src="../assets/images/world.png"  alt="world"/>
        </div>

    </div>


</div>
<!--End of Content Section-->